header {
    background-image: url('../img/raduň\ 01\ edit.jpg');
    width: 100%;
    min-height: 28rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header h1, header h3 {
    color: white;
    letter-spacing: 1.6px;
    word-spacing: 2.4px;
    font-weight: bolder;
    font-size: 40px;
}

#nadpis {
    padding-top: 8rem;

}

.navbar-nav .nav-link {
    font-size: 20px;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    border-bottom:  2px solid white;

}

@media (min-width: 992px) { 
    header {
        min-height: 100vh;

    }

    #nadpis {
        padding-top: 14rem;

    }

 }
#projects {
    color: #d9d9d9;
    background-color: #1d2124;
    padding: 35px;
}

.proj-items {
    text-decoration: none;
    color: #a6a6a6;
}

.proj-items:hover {
    text-decoration: none;
    color: white;
}


#omne, #omne2 {
    font-size: 25px;
}

#text {
    background-color: gray;
    padding: 35px;
}